<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            color: red;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <p> hello</p>

    <form action="/key" method="post" name="myform" enctype="multipart/form-data">
        <br>
        账号<input type="text" name="my_name" placeholder="请输入用户名" maxlength="10">
        <br>
        密码<input type="password" name="my_password">
        <br>
        <label for="要一样"></label>
        <input type="radio" name="my_radio" value="man" id="要一样">男
        <input type="radio" name="my_radio" value="woman">女
        <br>
        <input type="checkbox" name="my_checkbox" value="yes is adult" checked="checked">是否成年
        <br>
        <input type="datetime-local" name="my_datetime-local">
        <br>
        <input type="color" name="my_color">
        <br>
        <input type="button" value="anjian" >
        <br> <input type="file" name="my_file" id="11">
        <br>
        WiFi<select name="" id="">
            <option value="">Xiaomi_4C</option>
            <option value="" selected = "selected">Kean</option>
            <option value="">tp_link</option>
        </select>
        <br>
        <br>
        <br>
        <textarea name="" id="" cols="20" rows="5" placeholder="请输入你的信息">

        </textarea>
        <br>
        <br>
        <br>
        <br>
        <input type="reset" , name="reset" value="决定重置">
        <input type="submit" name="submit" value="决定提交">
    </form>


    <br>
    <br>
    <br>


    <a href="https://mbd.baidu.com/newspage">
        <button>百度</button>
    </a>

</body>

</html>